*
    box-sizing: border-box
a
    text-decoration: none
ul
    margin: 0
    padding: 0
li
    list-style: none
button
    cursor: pointer
h2, h3
    margin: 0
body
    font-family: 'Roboto', sans-serif
    color: rgba(255, 255, 255, 0.5)
.blood
    background: url('../img/blood.png') no-repeat top right,#14131a url('../img/background.jpg') no-repeat center top / 100%
.wrap
    max-width: 1120px
    margin: 0 auto
    padding: 0 10px
.header
    padding-top: 40px
    display: flex
    align-items: center
    margin-bottom: 80px
.logo-link
    margin-right: 50px
.menu
    display: flex
    &__item:not(:last-child)
        margin-right: 30px
    &__link
        color: rgba(255, 255, 255, 0.5)
        font-size: 14px
        line-height: 16px
.film
    color: rgba(255, 255, 255, 0.8)
    margin-bottom: 70px
    &__text
        display: block
        font-size: 24px
        line-height: 28px
        margin-bottom: 38px
    &__title
        margin-bottom: 40px
    &__discription
        max-width: 423px
        font-size: 16px
        line-height: 140%
.button
    padding: 15px 30px
    border: none
    border-radius: 5px
    &__icon, &__text
        display: inline-block
        vertical-align: middle
    &__text
        font-size: 14px
        line-height: 16px
        margin-left: 10px
.button-primary
    color: #8D0019
    background-color: #FFFFFF
.button-link
    color: #ffffff
.venom
    position: absolute
    top: 0
    right: 0
.content
    display: flex
    align-items: flex-start
.col
    flex-basis: 50%
.content
    color: rgba(255, 255, 255, 0.8)
    &__title
        font-weight: bold
        font-size: 36px
        line-height: 42px
        margin-bottom: 20px
    &__text
        max-width: 423px
        font-size: 16px
        line-height: 140%
        margin-bottom: 30px
    &__subtitle
        font-weight: bold
        font-size: 16px
        line-height: 140%
        margin-bottom: 15px
    &__list
        margin-bottom: 33px
.list-item
    line-height: 1.5
.columns
    column-count: 2
    column-gap: 20px
    max-width: 350px
.trailer
    width: 356px
    height: 205px
    border-radius: 5px
    background-color: #14131a
    background: url('../img/trailer-cover.jpg') center center no-repeat
    display: flex
    align-items: center
    justify-content: center
.trailer-play
    width: 45px
    height: 45px
    border-radius: 50%
    background-color: #ffffff
    border: none
.poster-wrapper
    display: flex
    align-items: start
.play
    transform: translate(1px, 2px)
.poster
    width: 362px
    height: 100%
    border-radius: 5px
    margin-right: 30px
.creators .content__subtitle
    margin-bottom: 5px
.creators .content__list
    margin-bottom: 20px
    line-height: 140%
.primary-bg
    background: #14131a url('../img/background.jpg') no-repeat center top / 100%
